Repository ARMmbed/DAPLink, pull requests merged in 2021-11, with the labels that each got.

#892 microbit specific: Serial and I2C fixes for Microbit V2
  source/board/microbitv2/i2c_commands.c
  source/board/microbitv2/i2c_commands.h
  source/board/microbitv2/microbitv2.c
  source/hic_hal/freescale/kl27z/uart.c
Labels: bug, enhancement, targets

#888 Fix a few typos in lpc55xx/uart.c
  source/hic_hal/nxp/lpc55xx/uart.c
Labels: bug, hic

#895 lpc55xx_hic: change memory map to support LPC552x models
  docs/hic/lpc55xx.md
  source/hic_hal/nxp/lpc55xx/daplink_addr.h
Labels: enhancement, needs review, hic

#901 settings: restore zero_init attribute for config_ram
  source/daplink/settings/settings.c
Labels: bug, needs review, hic
